.shop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .toggle-filters-btn {
    margin: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .toggle-filters-btn:hover {
    background-color: #0056b3;
  }
  
  .products-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    width: 100%;
  }
  
  .product-card {
    width: calc(25% - 20px); /* Adjust width to fit 4 cards per row, considering margin */
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .product-card:hover {
    transform: scale(1.05);
  }
  
  .product-image {
    width: 60%;
    height: 60%;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .product-title {
    font-size: 1.2em;
    margin: 10px 0;
    text-align: center;
  }
  
  .product-description {
    font-size: 1em;
    color: #666;
    text-align: center;
  }
  
  .with-filters {
    margin-left: 200px; /* Adjust this value as necessary */
  }

  .resize-p{
    font-size: 13px;
  }
  /* .width-80{
    width: 80%;
  } */

  .mr-229{
    margin-top: -129px;
  }

  .height-auto{
    height: auto;
  }
  